@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    [v-cloak] {
        display: none;
    }
}

@layer base {
    html {
        height: 100%;
    }
    option {
        font-family: Arial, sans-serif;
    }
}